<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
</head>
<body>
    <h1>Editar Categoria</h1>

    <form method="post">
        <input type="text" name="nome" placeholder="Nome da Categoria" value="<%= categ.nome %>">
        <button>Atualizar</button>
    </form>
    <div class="categotias">
        <h2>Categorias Cadastradas</h2>
        <% categoria.forEach(cat => { %>
            <p><%= cat.nome %> <a href="<%= cat._id %>">exclui</a> <a href="<%= cat._id %>">editar</a></p>
        <% }) %>
    </div>
</body>
</html>